.header {
    border-bottom: 1px solid #f7f7f6;
}

.header-inner {
    padding: 15px;
    text-align: center;
}

.header-title {
    font-size: 30px;
    color:rgb(147, 130, 116);
}

body {
    font-family: serif;
    color: rgb(147, 130, 116);
}